* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: "Helvatic Neue", sans-serif;
    margin: 25px;
}

.calculator {
    background: black;
    width: 563px;
    height: 1218px;
    border-radius: 50px;
    padding: 20px;
    color: white;
    position: relative;
}

.top-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.value {
    font-size: 130px;
    font-weight: 300;
    height: 158px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
}

.buttons-container {
    display:grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}

.button {
    align-items: center;
    background: #333;
    border-radius: 50%;
    display: flex;
    font-size: 45px;
    height: 110px;
    justify-content: center;
    width: 110px;
    cursor: pointer;
    transition: filter .3s;
}

.button.function {
    color: black;
    background: #a5a5a5;
}

.button.operator {
  background: #f1a33c;
}

.button.number-0 {
    width: 250px;
    border-radius: 55px;
    justify-content: flex-start;
    padding-left: 43px;
    grid-column: 1 / span 2;
}

.button:active,
.button:focus {
    filter: brightness(120%);
}

.bottom {
    width: 200px;
    height: 5px;
    background: white;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}