* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: "Helvatic Neue", sans-serif;
    margin: 25px;
}

.calculator {
    background: black;
    width: 563px;
    height: 1218px;
    border-radius: 50px;
    padding: 20px;
    color: white;
}

.top-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}